In [19]:
import os
import json
import pandas as pd

pc_data = ['apple.json','acer.json', 'asus.json', 'hp.json', 'lenovo.json', 'msi.json']
mobile_data = ['honor.json' , 'huawei.json' , 'nokia.json' , 'samsung.json', 'xiaomi.json']


all_pc_data = []
all_mobile_data=[]

for filename in os.listdir():
    if filename in pc_data:  
        with open(filename, 'r', encoding='utf-8') as file:
            data1 = json.load(file)
            all_pc_data.append(data1) 


for filename in os.listdir():
    if filename in mobile_data:  
        with open(filename, 'r', encoding='utf-8') as file:
            data2 = json.load(file)
            all_mobile_data.append(data2) 
            
df_mobile=pd.DataFrame(all_mobile_data)
df_pc = pd.DataFrame(all_pc_data)

num_unique_pc = df_pc['name'].nunique()
num_unique_mobile = df_mobile['name'].nunique()

print(f"number of pc model': {num_unique_pc}")
print(f"number of mobile model: {num_unique_pc}")

KeyError: 'name'

In [27]:
import pandas as pd
import numpy as np

# فرض اینکه df همان دیتافریم شما باشد
# تبدیل 5 سطر اول به یک numpy array
array_data = df_pc.head(5).to_numpy()

# نمایش نام ستون‌ها
columns = df_pc.columns

# نمایش داده‌ها به همراه نام ستون‌ها به شکل جدول
print(f"{' | '.join(columns)}")  # چاپ نام ستون‌ها
for row in array_data:
    print(" | ".join(map(str, row)))  # چاپ هر سطر

TypeError: sequence item 0: expected str instance, int found

In [5]:
def persian_to_english_numbers(s):
    numbers = {'۰': '0', '۱': '1', '۲': '2', '۳': '3', '۴': '4',
               '۵': '5', '۶': '6', '۷': '7', '۸': '8', '۹': '9'}
    if isinstance(s, str): 
        for persian_digit, english_digit in numbers.items():
            s = s.replace(persian_digit, english_digit)
    return s


if all_pc_data:
    dfs1 = [pd.DataFrame(data1) for data1 in all_pc_data]
    combined_df1 = pd.concat(dfs1, ignore_index=True)
    print(f"Number of all pc data: {len(combined_df1)}")
    combined_df1['price'] = combined_df1['price'].apply(persian_to_english_numbers)
    combined_df1['price'] = combined_df1['price'].str.replace(r'[٪,]', '', regex=True)
    combined_df1['price'] = pd.to_numeric(combined_df1['price'], errors='coerce')  # تبدیل به نوع عددی
    print(combined_df1['price'].head(5))
else:
    print("No data has been loaded")

if all_mobile_data:
    dfs2 = [pd.DataFrame(data2) for data2 in all_mobile_data]
    combined_df2 = pd.concat(dfs2, ignore_index=True)
    print(f"Number of all mobile data: {len(combined_df2)}")
    combined_df2['price'] = combined_df2['price'].apply(persian_to_english_numbers)
    combined_df2['price'] = combined_df2['price'].str.replace(r'[٪,]', '', regex=True)
    combined_df2['price'] = pd.to_numeric(combined_df2['price'], errors='coerce')  # تبدیل به نوع عددی
    print(combined_df1['price'].head(5))
else:
    print("No data has been loaded")

Number of all pc data: 1017
0    7.237900e+08
1    1.931890e+09
2    1.228999e+09
3    1.221000e+09
4    1.321099e+09
Name: price, dtype: float64
Number of all mobile data: 884
0    7.237900e+08
1    1.931890e+09
2    1.228999e+09
3    1.221000e+09
4    1.321099e+09
Name: price, dtype: float64

In [9]:
# swich number to english for pc data
combined_df1['rate'] = combined_df1['rate'].apply(persian_to_english_numbers)
combined_df1['rate'] = pd.to_numeric(combined_df1['rate'], errors='coerce')  
print(combined_df1[['rate']].head(5))

# swich number to english for mobile data
combined_df2['rate'] = combined_df2['rate'].apply(persian_to_english_numbers)
combined_df2['rate'] = pd.to_numeric(combined_df2['rate'], errors='coerce')  
print(combined_df2[['rate']].head(5))

   rate
0   4.8
1   4.7
2   NaN
3   NaN
4   5.0
   rate
0   4.4
1   4.5
2   4.5
3   4.2
4   4.4

In [11]:
# محاسبه تعداد مقادیر NaN در ستون‌های 'rate' و 'price'
nan_rate_pc = combined_df1['rate'].isna().sum()
nan_price_pc = combined_df1['price'].isna().sum()

nan_rate_mobile = combined_df2['rate'].isna().sum()
nan_price_mobile = combined_df2['price'].isna().sum()

print(f"Number of NaN values in 'rate' for pc data: {nan_rate_pc}")
print(f"Number of NaN values in 'price' for pc data: {nan_price_pc}")

print(f"Number of NaN values in 'rate' for mobile data: {nan_rate_mobile}")
print(f"Number of NaN values in 'price' for mobile data: {nan_price_mobile}")

Number of NaN values in 'rate' for pc data: 442
Number of NaN values in 'price' for pc data: 368
Number of NaN values in 'rate' for mobile data: 63
Number of NaN values in 'price' for mobile data: 684

In [14]:
#   محاسبه میانگین قیمت برای هر مدل
mean_prices = combined_df.groupby('name')['price'].mean()

def fill_missing_price(row):
    if pd.isna(row['price']):
        return mean_prices[row['name']] 
    return row['price']

combined_df['price'] = combined_df.apply(fill_missing_price, axis=1)
print(combined_df[['name', 'price']].head(15
                                         ))

                                                 name         price
0   لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-i...  7.237900e+08
1   لپ تاپ 15.6 اینچی ایسر مدل Aspire 7 A715-42G-R2YB  1.931890e+09
2   لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-7...  1.228999e+09
3   لپ تاپ 15.6 اینچی ایسر مدل Aspire A315-23-R3PE...  1.221000e+09
4   لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-3...  1.321099e+09
5   لپ تاپ 15.6 اینچی ایسر مدل Nitro 5 AN515-57-79...  1.246699e+09
6    لپ تاپ 17.3 اینچی ایسر مدل Nitro 5 AN517-55-57WA  5.413900e+08
7   لپ تاپ 15.6 اینچی ایسر مدل Aspire A315-23-R3PE...  2.121764e+09
8   لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-3...  2.020099e+09
9      لپ تاپ 15 اینچی ایسر مدل Nitro 5 AN515-57-59WQ  3.038900e+09
10  لپ تاپ 15.6 اینچی ایسر مدل TravelMate P2 TMP21...  2.710000e+07
11  لپ تاپ 15.6 اینچی ایسر مدل Nitro 5 AN515-58-75...  1.051199e+09
12  لپ تاپ 15.6 اینچی ایسر مدل Nitro 5 AN515-57-79...  1.345099e+09
13  لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-7...  1.129499e+09
14  لپ تاپ 15.6 اینچی ایسر مدل Aspire 3 A315-58G-7...  1.228999e+09